@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "tailwindcss";

body {
  font-family: Inter, sans-serif;
}
.tiptap-editor .ProseMirror {
  min-height: 230px;
  outline: none;
}

.tiptap-editor .ProseMirror p {
  margin: 0 0 0.6rem;
}

.tiptap-editor .ProseMirror ul {
  padding-left: 1.5rem;
  list-style-type: disc;
}

.tiptap-editor .ProseMirror ol {
  padding-left: 1.5rem;
  list-style-type: decimal;
}

.tiptap-editor .ProseMirror li {
  margin: 0.2rem 0;
}

.tiptap-editor .ProseMirror img {
  max-width: 100%;
  height: auto;
  border-radius: 0.75rem;
  margin: 0.75rem 0;
}

.tiptap-editor .ProseMirror ul[data-type="taskList"] {
  list-style: none;
  padding: 0;
}

.tiptap-editor .ProseMirror ul[data-type="taskList"] li {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.tiptap-editor .ProseMirror ul[data-type="taskList"] li > label {
  margin-top: 0.2rem;
}

.tiptap-editor .ProseMirror ul[data-type="taskList"] input {
  width: 16px;
  height: 16px;
}